services:
  nextcloud-db:
    container_name: nextcloud-db
    image: mariadb
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    restart: always
    volumes:
      - ./volumes/nextcloud:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=
    env_file:
      - db.env

  nextcloud-redis:
    container_name: nextcloud-redis
    image: redis:alpine
    restart: always

  nextcloud-apache:
    container_name: nextcloud-apache
    image: gotmax/nextcloud:stable-apache-full
    restart: always
    ports:
      - 8080:80
    volumes:
      - nextcloud:/var/www/html
    environment:
      - MYSQL_HOST=nextcloud-db
      - REDIS_HOST=nextcloud-redis
    env_file:
      - db.env
    depends_on:
      - nextcloud-db
      - nextcloud-redis
